button {
	width: 200px;
	padding: 15px 20px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	background: #93b2b2;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: .3s;
}
button:hover{
    transform: translateY(-5px);
    background: #586a6a;
}