.container-alumni {
     width: 80%;
     background:transparent;
     outline:solid black;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(240, 19, 184, 0.726);
     padding: 10px 10px 10px 10px;
     position: absolute;
     top: 20%;
     left: 10%;


}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td, .table th{
    padding: 10px 5px;
    border: 1px solid black;
    text-align: center;
}
.table th{
    background-color: #717787;
    color: #fff;
}
.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
@media(max-width: 500px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%
    }
}
.tablehead{
    border-color: 1px solid black;
    padding: 10px 10px 10px 10px;
}
.buttonalumni {
    text-align: center;
    margin: 1px 1px;
    border-radius: 5px;
    border: none;
    background: #858b97;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: .9rem;
    color:#fff;
    cursor: pointer;
    transition: .4s;
    margin:auto;
}

.buttonalumni:hover{
    transform: translateY(-5px);
    background: #586a6a;
}

.dropbtn {
  text-align: center;
    margin: 1px 1px;
    border-radius: 5px;
    border: none;
    background: #858b97;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: .9rem;
    color:#fff;
    cursor: pointer;
    transition: .4s;
    margin:auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropbtn1 {
  text-align: center;
    margin: 1px 1px;
    border-radius: 5px;
    border: none;
    background: #858b97;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: block;
    padding: 5px;
    font-size: .9rem;
    color:#fff;
    cursor: pointer;
    transition: .4s;
    margin:auto;
}
.submitbtn{
    display: inline-block !important;
    left: 0;
    bottom: 0 !important;
}
